UID=0
GID=0

SECURITY_KEY=643866c80c46c909332b30600d3265803a3807286d6eb7c0d2e164877c809519
PROJECT_NAME=GMLUNICORE
PROJECT_DESCRIPTION=
PROJECT_POLICYNAME=GMLUNIPolicy
PROJECT_PATH=

S3_ENABLED=true
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

MINIO_ADDRESS=:5009
MINIO_ADDRESS_PORT=5009
MINIO_CONSOLE_ADDRESS=:5010
MINIO_CONSOLE_ADDRESS_PORT=5010
PORT_GML_BACKEND=5000
PORT_GML_FRONTEND=5003
PORT_GML_FILES=5005
PORT_GML_SKINS=5006

SERVICE_TEXTURE_ENDPOINT=http://gml-web-skins:8085
